body, html {
    background-color: #343a40;
    color: white;
    height: 50%;
    width: 50%;
}

.login {
    text-align: center;
    position: relative;
    top: 100px;
}

#sbm-btn {
    text-align: center;
}
