body, html {
    background-color: #343a40;
    color: white;
    max-height: 480px;
}

.login {
    text-align: center;
    position: relative;
    top: 100px;
}

#sbm-btn {
    text-align: center;
}
 #main-cont {
     margin-top: 100px;
     max-width: 100%;
 }