<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>WebWalletApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body class="text-center">
{% block content %} {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function send() {
        let rbtn= $(".radio-check:checked").val();
        let db_data = [$('#cat').val(), $('#val').val(), rbtn, $('#msg').val()];


        $.ajax({
            type: 'POST',
            url: '/process',
            data: {
                fields_data: JSON.stringify(db_data)
            },
        })
    }
    // language=JQuery-CSS
    $('#sbm-btn').on('click', function(){
            send();
        });

    $('.radio-check').on('click', function () {

        $('#cat-list').html("");
        $('#val').prop('disabled', false);
        $('#cat').prop('disabled', false);


        let arr = ['House','Food','Sport','Health&Care','Transport','Gifts','Amusement','Debts'];
        const list = document.getElementById('cat-list');

        if($(this).val()== 'income') {
            arr = ['Wage','Interests','Bonus','Profit'];
        }

        arr.forEach(item => {
            let option = document.createElement('option');
            option.value = item;
            list.appendChild(option);
        });

    })
</script>
</html>