
{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" id="main-cont">
    <div class="row">
        <div class=" col-xs-12 col-md-8">
            <h1 class="h4 mb-3 font-weight-normal">Welcome to webWalletApp!</h1>
            <h3 class="h5 mb-3 font-weight-normal">Please enter amount and choose the category</h3>
            <div class="form-signin">
                <form method="post" id='add-spend'>
                    <fieldset>
                        <input id="income"  class="radio-check" name="tr" type="radio" value="income"> Income
                        <input id="outcome" class="radio-check" name="tr" type="radio" value="outcome"> Outcome
                    </fieldset>
                    <label for="cat" class="sr-only">category</label>
                    <input id="cat" list="cat-list" autocomplete="off" class="form-control" type="text" disabled>
                    <datalist id="cat-list">
                    </datalist>
                    <label for="val" class="sr-only">value</label>
                    <input id='val' class="form-control" type="number" disabled><br>
                    <p>
                        Short description<br>
                        <textarea name="message" class="form-control" id="msg" rows="2"></textarea>
                    </p>
                    <button type="submit" id="sbm-btn" class="btn btn-primary btn-block">Accept</button>
                 </form>
            </div>
            <br>
            <div id="bal">
                <p id="w-income">
                    Income:{{ "%.2f"|format(income_sum) }} uah Outcome:{{ "%.2f"|format(outcome_sum) }} uah
                </p>
                {% if balance %}
                <p id="w-balance">
                    Balance:{{ "%.2f"|format(balance) }} uah
                </p>
                {% endif %}
                {% if last_transaction %}
                <div id="last_tr">
                    <b>Last transaction:</b><br>
                    Date: {{ last_transaction.day_time.strftime("%d-%m-%y %H:%M:%S")}}
                    Category: {{ last_transaction.category }}<br>
                    Value: {{ "%.2f"|format(last_transaction.value) }}
                    Type: {{ last_transaction.type }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
