{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container-fluid" id="main-cont">
        <div class="row">
            <div class=" col-xs-12 col-md-8">
                <div class="login">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                      <p class="flashes">
                      {% for category, message in messages %}
                        <b style="color: #9C1A1C" class="{{category}}">{{ message }}</b>
                      {% endfor %}
                      </p>
                    {% else %}
                      <p class="flashes alert">
                        <b>Please provide username and password to login</b>
                      </p>
                    {% endif %}
                    {% endwith %}

                    {%if form.errors %}
                    <p style="color: #9C1A1C" class="alert">
                      {% for field, errors in form.errors.items() %}
                        <b>{{field}} {% for error in errors %}{{ error }}{% endfor %}</b>
                      {% endfor %}
                    </p>
                    {% endif %}
                    <form action="{{ url_for('simplelogin.login') }}" method="post">
                        <div class="form-group">
                            {{ form.csrf_token }}
                            {{form.username.label}}
                        <div>
                            <input class="form-control" name="{{ form.username.name }}">
                        </div><br>
                            {{form.password.label}}
                        <div>
                            <input class="form-control" type="password" name="{{ form.password.name }}">
                        </div><br>
                            {% if next %}<input type="hidden" name="next" value="{{next}}">{% endif %}
                            <input id="sbm-btn-login" class="btn btn-primary btn-block" type="submit" value="Login">
                        </div>
                    </form>
                <p id="message"></p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}